/*body*/
body{
  margin:0;
  background-color: var(--background-color-1);
  font-family: Geneva,Tahoma,Verdana,sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: Optima, sans-serif !important;
}

/* colors*/
:root {
  --background-color-1:#9bb9d61d;
  --background-color-2:#ffffff;
  --icon-color:#000000;
  --icon-hover-color:#8a8888;
  --divider-color: #d2d2d2;
  --white-color: #ffffff;
  --black-color:  #000000;
  --star-icon: #f4d122;
  --publisher-color: #123c604a;
  --news-color: #123c60be;
  --more-info-color: #4a4f53b7;
}

/*more button*/
.more-button{
  color: var(--icon-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.more-button-color-2{
  background-color: #e7e6e67c;
}

.more-button-color-1{
  background-color: var(--background-color-1);
}

.more-button:hover{
  background-color: var(--divider-color);
}

.more-info{
  color: var(--more-info-color);
  font-style: italic;
  margin-bottom: 0%;
  margin-right: 0.5%;
}

/*section*/
.background-1-section{
  background-color: var(--background-color-1);
  padding-bottom: 1%;
}

.background-2-section{
  background-color: var(--background-color-2);
  padding-bottom: 1%;
}

.section-content{
  padding-top: 2%;
  padding-bottom: 2%;
}

/*icons*/
.icon{
  color: var(--icon-color);
  cursor: pointer;
}

.icon:hover{
  color: var(--icon-hover-color);
}

.star-icon{
  color:var(--star-icon);
}

/*divider*/
.divider{
  margin-top: 0;
  margin-bottom: 0;
}

.divider-container{
  background-color: var(--background-color-1);
}

/*paper*/
.paper-title{
  font-size:medium;
  margin-bottom: 1px;
}

.paper-authors{
  margin-bottom: 1px;
}

.paper-publisher{
  font-style: italic;
  color: black;
  font-size: medium
}


/*profile image*/
.profile-image{
  width: 80%;
  border-radius: 20px;
}

/* last update info*/
.last-update-info{
  font-size: small;
  font-style: italic;
  color: var(--icon-color);
}

/* experience section information */

.experience-image{
  width: 50%;
}

.IST-image{
  width: 35%;
}

.INESC-ID-image{
  width: 35%
}

.opacity-on{
  opacity: 0.5;
}

/* awards section*/

.award-image{
  width:20%;
}


/* teaching style*/
.teaching-year{
  color: var(--divider-color);
  font-size:x-large;
  width:fit-content;
  margin-top: 0%;
}

.teaching-degree{
  font-size: medium;
  font-style: italic;
}

/* news */
.news-date{
  background-color: var(--news-color);
  color: var(--white-color);
  border-radius: 20px;
  align-items: center;
}

/*copyright*/
.copyright-section{
  font-size: small;
  padding-top: 1%;
  color:var(--more-info-color);
}

.link{
  color:var(--news-color);
  font-size: large;
}