/*body*/
body{
  margin:0;
  font-family: Optima, sans-serif !important;
}

h1,h2,h3,h4,h5{
  font-family: Optima, sans-serif !important;
}

/* colors*/
:root {
  --background-color-1:#9bb9d61d;
  --background-color-2:#ffffff;
  --icon-color:#000000;
  --icon-hover-color:#8a8888;
  --divider-color: #d2d2d2;
  --white-color: #ffffff;
  --star-icon: #f4d122;
  --publisher-color: #123c60b2;
}

/*more button*/
.more-button{
  color: var(--icon-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.more-button-color-2{
  background-color: var(--background-color-2);
}

.more-button-color-1{
  background-color: var(--background-color-1);
}

.more-button:hover{
  background-color: var(--divider-color);
}

/*section*/
.background-1-section{
  background-color: var(--background-color-1);
}

.background-2-section{
  background-color: var(--background-color-2);
}

.section-content{
  padding-top: 3%;
  padding-bottom: 1%;
}

/*icons*/
.icon{
  color: var(--icon-color);
  cursor: pointer;
}

.icon:hover{
  color: var(--icon-hover-color);
}

.star-icon{
  color:var(--star-icon);
}

/*divider*/
.divider{
  margin-top: 0;
  margin-bottom: 0;
}

.divider-container{
  background-color: var(--background-color-1);
}

/*paper*/
.paper-title{
  font-size:larger;
  margin-bottom: 1px;
}

.paper-authors{
  margin-bottom: 1px;
}

.paper-publisher{
  font-style: italic;
  background-color: var(--publisher-color);
  color: white;
  border-radius: 10px;
  font-size:medium
}

/*profile image*/
.profile-image{
  width: 80%;
  border-radius: 20px;
}

/* last update info*/
.last-update-info{
  font-size: small;
  font-style: italic;
  color: var(--icon-color);
}

/* teaching section information */
.teaching-image{
  width:50%;
  border-radius: 20px;
}

.teaching-year{
  color: var(--divider-color);
  font-size:x-large;
  width:fit-content;
  margin-top: 0%;
}

.teaching-degree{
  font-size: medium;
  font-style: italic;
}

/* news */
.new-date{
  background-color: var(--publisher-color);
  color: var(--white-color);
  border-radius: 20px;
  text-align: center;
  font-style: italic;
}
