/*body*/
body{
  margin:0;
  font-family: Optima, sans-serif !important;
}

h1,h2,h3,h4,h5{
  font-family: Optima, sans-serif !important;
}

/* colors*/
:root {
  --main-color-1:#9bb9d61d;
  --main-color-2:#ffffff;
  --icon-color:#000000;
  --divider-color: #d2d2d2;
  --white-color: #ffffff;
  --star-icon: #f4d122;
}

/*more button*/
.more-button{
  color: var(--icon-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.more-button-color-2{
  background-color: var(--main-color-2);
}

.more-button:hover{
  background-color: var(--divider-color);
}

/*section*/
.section{
  background-color: var(--main-color-1);
}

.publications-section{
  background-color: var(--main-color-2);
}

.section-content{
  padding-top: 3%;
  padding-bottom: 2%;
}

/*icons*/
.icon{
  color: var(--icon-color);
  cursor: pointer;
}

.star-icon{
  color:var(--star-icon);
}

/*divider*/
.divider{
  margin-top: 0;
  margin-bottom: 0;
}

.divider-container{
  background-color: var(--main-color-1);
}

/*paper*/
.paper-title{
  font-size:larger;
  margin-bottom: 5px;
}

.paper-authors{
  margin-bottom: 1px;
}

.paper-publisher{
  font-style: italic;
}

/*profile image*/
.profile-image{
  width: 80%;
  border: 2px solid var(--divider-color);
  border-radius: 20px;
}
